@font-face {
    font-family: nexalight;
    src: url(nexa/light.ttf)
    
}

@font-face {
    font-family: nexabold;
    src: url(nexa/bold.ttf)
    
}

$primary-color: rgb(33,33,33);
$secondary-color: rgb(175, 54, 167);
$shadow-color: rgb(57, 57, 57);
$text-color: rgb(255, 255, 255);